Practica3/Practica3_DesktopClient/src/wsdl/localhost_8080/Practica3_SOAP/ImageManager.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="ImageManager">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/Practica3_SOAP/ImageManager?xsd=1"/>
</xsd:schema>
</types>
<message name="ModifyImage">
<part name="parameters" element="tns:ModifyImage"/>
</message>
<message name="ModifyImageResponse">
<part name="parameters" element="tns:ModifyImageResponse"/>
</message>
<message name="GetMaxId">
<part name="parameters" element="tns:GetMaxId"/>
</message>
<message name="GetMaxIdResponse">
<part name="parameters" element="tns:GetMaxIdResponse"/>
</message>
<message name="CheckUser">
<part name="parameters" element="tns:CheckUser"/>
</message>
<message name="CheckUserResponse">
<part name="parameters" element="tns:CheckUserResponse"/>
</message>
<message name="CreateUser">
<part name="parameters" element="tns:CreateUser"/>
</message>
<message name="CreateUserResponse">
<part name="parameters" element="tns:CreateUserResponse"/>
</message>
<message name="CheckPassword">
<part name="parameters" element="tns:CheckPassword"/>
</message>
<message name="CheckPasswordResponse">
<part name="parameters" element="tns:CheckPasswordResponse"/>
</message>
<message name="DeleteImage">
<part name="parameters" element="tns:DeleteImage"/>
</message>
<message name="DeleteImageResponse">
<part name="parameters" element="tns:DeleteImageResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="ListImages">
<part name="parameters" element="tns:ListImages"/>
</message>
<message name="ListImagesResponse">
<part name="parameters" element="tns:ListImagesResponse"/>
</message>
<message name="RegisterImage">
<part name="parameters" element="tns:RegisterImage"/>
</message>
<message name="RegisterImageResponse">
<part name="parameters" element="tns:RegisterImageResponse"/>
</message>
<message name="SearchbyId">
<part name="parameters" element="tns:SearchbyId"/>
</message>
<message name="SearchbyIdResponse">
<part name="parameters" element="tns:SearchbyIdResponse"/>
</message>
<message name="SearchbyTitle">
<part name="parameters" element="tns:SearchbyTitle"/>
</message>
<message name="SearchbyTitleResponse">
<part name="parameters" element="tns:SearchbyTitleResponse"/>
</message>
<message name="SearchbyCreaDate">
<part name="parameters" element="tns:SearchbyCreaDate"/>
</message>
<message name="SearchbyCreaDateResponse">
<part name="parameters" element="tns:SearchbyCreaDateResponse"/>
</message>
<message name="SearchbyKeywords">
<part name="parameters" element="tns:SearchbyKeywords"/>
</message>
<message name="SearchbyKeywordsResponse">
<part name="parameters" element="tns:SearchbyKeywordsResponse"/>
</message>
<message name="SearchbyAuthor">
<part name="parameters" element="tns:SearchbyAuthor"/>
</message>
<message name="SearchbyAuthorResponse">
<part name="parameters" element="tns:SearchbyAuthorResponse"/>
</message>
<message name="DownloadImage">
<part name="parameters" element="tns:DownloadImage"/>
</message>
<message name="DownloadImageResponse">
<part name="parameters" element="tns:DownloadImageResponse"/>
</message>
<message name="UploadImage">
<part name="parameters" element="tns:UploadImage"/>
</message>
<message name="UploadImageResponse">
<part name="parameters" element="tns:UploadImageResponse"/>
</message>
<message name="RemoveImage">
<part name="parameters" element="tns:RemoveImage"/>
</message>
<message name="RemoveImageResponse">
<part name="parameters" element="tns:RemoveImageResponse"/>
</message>
<portType name="ImageManager">
<operation name="ModifyImage">
<input wsam:Action="http://WS/ImageManager/ModifyImageRequest" message="tns:ModifyImage"/>
<output wsam:Action="http://WS/ImageManager/ModifyImageResponse" message="tns:ModifyImageResponse"/>
</operation>
<operation name="GetMaxId">
<input wsam:Action="http://WS/ImageManager/GetMaxIdRequest" message="tns:GetMaxId"/>
<output wsam:Action="http://WS/ImageManager/GetMaxIdResponse" message="tns:GetMaxIdResponse"/>
</operation>
<operation name="CheckUser">
<input wsam:Action="http://WS/ImageManager/CheckUserRequest" message="tns:CheckUser"/>
<output wsam:Action="http://WS/ImageManager/CheckUserResponse" message="tns:CheckUserResponse"/>
</operation>
<operation name="CreateUser">
<input wsam:Action="http://WS/ImageManager/CreateUserRequest" message="tns:CreateUser"/>
<output wsam:Action="http://WS/ImageManager/CreateUserResponse" message="tns:CreateUserResponse"/>
</operation>
<operation name="CheckPassword">
<input wsam:Action="http://WS/ImageManager/CheckPasswordRequest" message="tns:CheckPassword"/>
<output wsam:Action="http://WS/ImageManager/CheckPasswordResponse" message="tns:CheckPasswordResponse"/>
</operation>
<operation name="DeleteImage">
<input wsam:Action="http://WS/ImageManager/DeleteImageRequest" message="tns:DeleteImage"/>
<output wsam:Action="http://WS/ImageManager/DeleteImageResponse" message="tns:DeleteImageResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WS/ImageManager/DeleteImage/Fault/IOException"/>
</operation>
<operation name="ListImages">
<input wsam:Action="http://WS/ImageManager/ListImagesRequest" message="tns:ListImages"/>
<output wsam:Action="http://WS/ImageManager/ListImagesResponse" message="tns:ListImagesResponse"/>
</operation>
<operation name="RegisterImage">
<input wsam:Action="http://WS/ImageManager/RegisterImageRequest" message="tns:RegisterImage"/>
<output wsam:Action="http://WS/ImageManager/RegisterImageResponse" message="tns:RegisterImageResponse"/>
</operation>
<operation name="SearchbyId">
<input wsam:Action="http://WS/ImageManager/SearchbyIdRequest" message="tns:SearchbyId"/>
<output wsam:Action="http://WS/ImageManager/SearchbyIdResponse" message="tns:SearchbyIdResponse"/>
</operation>
<operation name="SearchbyTitle">
<input wsam:Action="http://WS/ImageManager/SearchbyTitleRequest" message="tns:SearchbyTitle"/>
<output wsam:Action="http://WS/ImageManager/SearchbyTitleResponse" message="tns:SearchbyTitleResponse"/>
</operation>
<operation name="SearchbyCreaDate">
<input wsam:Action="http://WS/ImageManager/SearchbyCreaDateRequest" message="tns:SearchbyCreaDate"/>
<output wsam:Action="http://WS/ImageManager/SearchbyCreaDateResponse" message="tns:SearchbyCreaDateResponse"/>
</operation>
<operation name="SearchbyKeywords">
<input wsam:Action="http://WS/ImageManager/SearchbyKeywordsRequest" message="tns:SearchbyKeywords"/>
<output wsam:Action="http://WS/ImageManager/SearchbyKeywordsResponse" message="tns:SearchbyKeywordsResponse"/>
</operation>
<operation name="SearchbyAuthor">
<input wsam:Action="http://WS/ImageManager/SearchbyAuthorRequest" message="tns:SearchbyAuthor"/>
<output wsam:Action="http://WS/ImageManager/SearchbyAuthorResponse" message="tns:SearchbyAuthorResponse"/>
</operation>
<operation name="DownloadImage">
<input wsam:Action="http://WS/ImageManager/DownloadImageRequest" message="tns:DownloadImage"/>
<output wsam:Action="http://WS/ImageManager/DownloadImageResponse" message="tns:DownloadImageResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WS/ImageManager/DownloadImage/Fault/IOException"/>
</operation>
<operation name="UploadImage">
<input wsam:Action="http://WS/ImageManager/UploadImageRequest" message="tns:UploadImage"/>
<output wsam:Action="http://WS/ImageManager/UploadImageResponse" message="tns:UploadImageResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WS/ImageManager/UploadImage/Fault/IOException"/>
</operation>
<operation name="RemoveImage">
<input wsam:Action="http://WS/ImageManager/RemoveImageRequest" message="tns:RemoveImage"/>
<output wsam:Action="http://WS/ImageManager/RemoveImageResponse" message="tns:RemoveImageResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WS/ImageManager/RemoveImage/Fault/IOException"/>
</operation>
</portType>
<binding name="ImageManagerPortBinding" type="tns:ImageManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ModifyImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetMaxId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="ListImages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegisterImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyCreaDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DownloadImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="UploadImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="RemoveImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ImageManager">
<port name="ImageManagerPort" binding="tns:ImageManagerPortBinding">
<soap:address location="http://localhost:8080/Practica3_SOAP/ImageManager"/>
</port>
</service>
</definitions>